.col-md-4{
    margin-top: 10px;
}

.list-group{
    width: 1380px;
}

.form-group{
    width: 1365px;
    margin-left: 25px;
}

.form1{
    padding-top: 10px;
}



.btn-primary{
    margin-left: 25px ;
    margin-bottom: 10px;
}

#theForm{
    background-color:white;
    width: 1410px;
    margin-left: 25px;
    border-radius: 5px;
}

.jumbotron{
    margin-top: 10px;
}